

.recommended-friends {
    border-bottom: var(--main-border);
    padding: 5px 0px;
    border-top:  1px solid rgba(0, 0, 0, 0.2);
    padding-top: 10px;
}

.recommended-friends span { 
    display:block;
    margin:130px 0;
    text-align: center;
    color: var(--text-gray);
    font-size: 18px;
}
    
.recommended-friends__title {
    font-size: 14px;
    color: var(--text-gray);
    margin-top: 20px;
}

.open-chat-header {
    display: flex;
    justify-content: space-between;
    color: var(--text-gray);
    margin: 25px 0px;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin: 10px 0px;
}

.open-post__hashtags {
    text-transform: uppercase;
    color: var(--text-gray);
    margin-bottom: 10px;
}

.open-post__members {
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__members-count {
    color: var(--text-gray);
}

.open-post__members .divider {
    width: 2px;
    height: 15px;
    background-color: var(--text-gray);
    margin: 0px 5px;
}

.open-post__members-status {
    color: #ffb0e0;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    background-color: rgba(0, 255, 204, 0.085);
}

.open-post__photo {
    position: relative;
}

.open-post__colums-point {
    color: white;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
    opacity: 0.5;
    padding: 5px;
}

@keyframes heartBeat {
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: tomato;
        transform: scale(1.5) ;
    }
    100%{
        color: white;
        transform: none;
    }
}

.open-post__colums-point:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}